Source: tt-nmbs
Section: utils
Priority: optional
Maintainer: Luke Ian Turner <turnertech@outlook.de>
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13), libexiv2-dev, libargparse-dev, libxml2-dev (>= 2.12.7), libgtest-dev, doxygen, help2man


Package: nmbs
Section: utils
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libnmbs1 (= ${binary:Version})
Recommends: exiv2
Description: Normalised Metadata Binding Service
 A set of tools for working with ADatP-4774 and ADatP-4778
 confidentiality labels.


Package: libnmbs1
Section: libs
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libxml2 (>= 2.12.7)
Description: Runtime shared library for nmbs
 Required by e.g. the nmbs CLI tools or Nautilus extension.


Package: libnmbs-dev
Section: libdevel
Architecture: any
Depends: libnmbs1 (= ${binary:Version}), ${misc:Depends}
Recommends: dochelp
Description: Development files nmbs
 This package contains the header files, cmake targets etc.
 to compile external code against libnmbs.
